body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.wireframe-container {
    display: flex;
    flex-wrap: wrap;
}

.wireframe {
    flex: 1;
    margin: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }