/* Global styles */
:root {
    --primary-color: green; 
    --secondary-color: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Hero section styles */
.hero img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

/* Content section styles */
header {
    padding: 20px;
    background-color: orangered;
}

h1 {
    color: var(--secondary-color);
    text-align: center;
}
@media (max-width: 762px) {
    /* Data section styles */
    .hero img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .data {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9); 
        color: white;
        align-items: center;
        text-align: center;
    }

    .data-head {
        align-items: center;
    }

    h2 {
        color: black;
    }

    .data p {
        color: black;
    }

    /* Weather section styles */
    .weather {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9); 
        color: white;
        align-items: center;
        text-align: center;
    }

    .weather-head {
        align-items: center;
    }

    .weather img {
        width: 80px;
        margin-left: 5px;
    }

    .weather p {
        color: black;
    }

    .weather-list {
        display: flex;
        align-items: center;
    }

    .first {
        text-align: right;
        font-weight: bold;
    }

    .second {
        text-align: left;
        margin-left: 5px;
    }
}

/* Footer styles */
footer {
    background-color: orangered;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media (min-width: 770px) {
    /* Data section styles */
    .data {
        position: absolute;
        top: 45%;
        left: 18%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.9); 
        color: white;
        padding: 10px 30px 10px;
    }

    .data-head {
        display: flex;
        background-color: rgba(36, 163, 53, 0.9);
        padding-left: 25px;
        margin-left: -18%;
    }

    .data img {
        width: 60px;
        margin-left: 5px;
    }

    .data p {
        color: black;
    }

    /* Weather section styles */
    .weather {
        position: absolute;
        top: 80%;
        right:2%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.9); 
        color: white;
        padding: 10px 30px 10px;
    }

    .weather-head {
        display: flex;
        background-color: rgba(36, 163, 53, 0.9);
        padding-left: 25px;
        margin-left: -21%;
    }

    .weather img {
        width: 60px;
        margin-left: 5px;
    }

    .weather p {
        color: black;
    }

    .weather-list {
        display: flex;
    }

    .first {
        text-align: right;
        font-weight: bold;
    }

    .second {
        text-align: left;
        margin-left: 5px;
    }

}